:root {
  --grey-tone: silver;
  --golden-tone: rgb(196, 204, 109);
  --blue-tone: rgb(144, 229, 200);
}
#table {
  position: absolute !important;
  height: 70vh;
  width: 70vw;
  padding: 10px;
  background-color: var(--golden-tone);
  border: double;
  border-radius: 10px;
  border-width: 15px;
  border-color: var(--grey-tone);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#levi {
  height: auto;
  width: 13%;
  min-width: 80px;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
#player1 {
  font-size: clamp(16px, 2vw, 25px);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  left: 5%;
  top: 60%;
}
#player2 {
  font-size: clamp(16px, 2vw, 25px);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  left: 25%;
  top: 73%;
}
#player3 {
  font-size: clamp(16px, 2vw, 25px);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  left: 57%;
  top: 73%;
}
#player4 {
  font-size: clamp(16px, 2vw, 25px);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  left: 70%;
  top: 60%;
}
#player5 {
  font-size: clamp(16px, 2vw, 25px);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  left: 70%;
  top: 53%;
}
#player6 {
  font-size: clamp(16px, 2vw, 25px);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  left: 57%;
  top: 37%;
}
#player7 {
  font-size: clamp(16px, 2vw, 25px);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  left: 25%;
  top: 37%;
}

#player8 {
  font-size: clamp(16px, 2vw, 25px);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  left: 5%;
  top: 53%;
}
#pot {
  font-size: clamp(16px, 2vw, 25px);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  color: darkviolet;
  left: 48%;
  top: 52%;
}
#side-pot {
  font-size: clamp(16px, 2vw, 25px);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  color: darkviolet;
  left: 48%;
  top: 57%;
}
.identity {
  color: blue;
}
.bet {
  color: red;
}
.stack {
  color: chartreuse;
}
.hidden {
  display: none;
}
#dealer-button {
  width: 70px;
  height: 30px;
  min-width: 50px;
  min-height: 50px;
  border: #c4cc6d 3px dotted;
  border-radius: 5%;
  color: white;
  background-color: rgb(81, 210, 233);
  position: absolute;
  top: 15%;
  right: 2%;
  animation: blinkingWhiteGlow 6s infinite alternate;
  font-size: 20px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  z-index: 1005;
  box-sizing: content-box;
  padding: 2px;
  margin: 1px 0px 1px;
}
#dealer-button:hover {
  background-color: rgb(41, 131, 126);
  cursor: pointer;
}
#dealer-button:active {
  background-color: rgb(115, 68, 63);
  animation: none;
  cursor: pointer;
}
#side-button {
  width: 70px;
  height: 30px;
  min-width: 50px;
  min-height: 50px;
  border: #c4cc6d 3px dotted;
  border-radius: 5%;
  color: white;
  background-color: rgb(233, 96, 81);
  position: absolute;
  top: 5%;
  right: 2%;
  animation: blinkingWhiteGlow 6s infinite alternate;
  font-size: 20px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  z-index: 1005;
  box-sizing: content-box;
  padding: 2px;
  margin: 1px 0px 1px;
}
#side-button:hover {
  background-color: rgb(210, 69, 53);
  cursor: pointer;
}
#side-button:active {
  background-color: rgb(115, 68, 63);
  animation: none;
  cursor: pointer;
}

#small-blind-disc,
#big-blind-disc,
#dealer-disck {
  width: 40px;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1000;
}
